@keyframes slidein {
    0%   {margin-left:0rem; opacity: 0;}
    100% {margin-left:1rem; opacity: 1;}
}

h6 { 
    font-family: Optima;
    font-weight: 400;
    font-size: x-large;
    margin: 1rem 0rem;
    color: white;
}

.description-container {
   max-width: 25rem;
   margin-left: 1rem;
   animation-name: slidein;
   animation-duration: 1s;
}

.last {
    margin: 0rem 0rem 0rem 0rem;
}

@media only screen and (max-width: 900px) {
    .description-container {
        text-align: center;
     }
     h6 {
         margin: 0rem 0rem 1rem 0rem;
     }
     @keyframes slidein {
        0%   {opacity: 0;}
        100% {opacity: 1;}
    }
  }