.header-container {
    background-color: rgb(2, 8, 65);
    padding: 0.5rem 0rem;
}

.header-container2 {
    background-color: rgb(77, 9, 3);
    padding: 0.5rem 0rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
}

.header-tab {
    padding: 1rem;
    font-family: Bookman, URW ;
    font-weight: bold;
    font-size: x-large;
}

.header-logo {
    display: inline;
    max-height: 2.5rem;
}