.header-container2 {
    background-color: rgb(2, 8, 65);
    padding: 0.5rem 0rem;
}

.header-container {
    background-color: rgb(77, 9, 3);
    padding: 0.5rem 0rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-tab {
    padding: 1rem 2rem; 
    font-family: Optima;
    font-weight: 500;
    font-size: x-large;
}

.header-logo {
    display: inline;
    max-height: 2.5rem;
}

a {
    margin-left: 2.5rem;
}