<div class="character-container">
    <div>
        <h3 class="title">Good Characters</h3>
        <ng-container [ngTemplateOutlet]="characterSection" [ngTemplateOutletContext]="{characterSet: goodCharacters}"></ng-container>
    </div>
    <div>
        <h3 class="title">Evil Characters</h3>
        <ng-container [ngTemplateOutlet]="characterSection" [ngTemplateOutletContext]="{characterSet: badCharacters}"></ng-container>
    </div>
    <div>
        <h3 class="title">Special Characters</h3>
        <ng-container [ngTemplateOutlet]="characterSection" [ngTemplateOutletContext]="{characterSet: specialCharacters}"></ng-container>
</div>

<ng-template #characterSection let-characterSet="characterSet">
    <div class="characters-type">
        <ng-container *ngFor="let character of characterSet">
            <button class="no-background" (click)="setCharacter(character[0])"><img class="character" [src]="character[1]"/>
                <p class="description" *ngIf="isSelectedCharacter(character[0])">{{ getDescription() }}</p>
            </button>
        </ng-container>
    </div>
</ng-template>