.character-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.character {
    max-height: 15rem;
    margin-left: 1.5rem;
}

.title {
    font-size: xx-large;
    font-weight: 1000000px;
}

.description {
    color: white;
    text-align: left;
    align-self: flex-start;
}

.no-background {
    background: none;
    border: none;
    text-align: left;
}