<div class="character-container">
    <div>
        <h3 class="title">Good Characters</h3>
        <div class="characters-type">
            <img class="character" src='../../../assets/images/Merlin.png'/>
            <img class="character" src='../../../assets/images/Percival.png'/>
            <img class="character" src='../../../assets/images/MinionG.png'/>
        </div>
    </div>
    <div>
        <h3 class="title">Evil Characters</h3>
        <div class="characters-type">
            <img class="character" src='../../../assets/images/Mordred.png'/>
            <img class="character" src='../../../assets/images/Morgana.png'/>
            <img class="character" src='../../../assets/images/Oberon.png'/>
            <img class="character" src='../../../assets/images/Assasin.png'/>
            <img class="character" src='../../../assets/images/MinionB.png'/>
        </div>
    </div>
    <div>
        <h3 class="title">Special Characters</h3>
        <div class="characters-type">
            <img class="character" src='../../../assets/images/Lancelot.png'/>
            <img class="character" src='../../../assets/images/LakeLady.png'/>
        </div>
    </div>
</div>

