.page-container {
    padding: 3rem;
    background-color: black;
}

h3 {
    font-family: URW Chancery L, cursive;
    font-weight: bolder;
    font-size: x-large;
    margin: 0px;
    color: white;
}

button {
    font-family: URW Chancery L, cursive;
    font-weight: bolder;
    font-size: large;
    margin: 0px;
}