h3 {
    font-family: Optima;
    font-weight: bolder;
    font-size: xx-large;
    margin: 0px;
    color: white;
}

h4 {
    font-family: Optima;
    font-weight: bolder;
    font-size: x-large;
    margin: 0px;
    color: white;
}

button {
    font-family: Optima;
    font-weight: bolder;
    font-size: large;
    padding: 0.7rem;
}

p {
    font-family: Optima;
    color: white;
}

.page-container {
    padding: 3rem;
    margin: 1rem;
    background-color: rgb(34, 34, 34);
    border-radius: 3rem;
}

.section {
    margin-bottom: 3rem;
}

