h3 {
    font-family: URW Chancery L, cursive;
    font-weight: bolder;
    font-size: xx-large;
    margin: 0px;
    color: white;
}

button {
    font-family: URW Chancery L, cursive;
    font-weight: bolder;
    font-size: large;
    padding: 0.7rem;
}

pre {
    font-family: URW Chancery L, cursive;
    color: white;
}

.page-container {
    padding: 3rem;
    background-color: rgb(34, 34, 34);
}

.section {
    margin-bottom: 3rem;
}

