.characters-container{
    display: flex;
    justify-content: space-between;
}

.character-type {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
}

label{
    font-family: Optima;
    font-size: large;
    color: white;
}

.narration-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.title {
    margin-bottom: 0.5rem;
}

.label {
    margin-bottom: 0.2rem;
}

button {
    margin-right: 0.5rem;
}

@media only screen and (min-width: 900px) {
    .characters-container {
        justify-content: flex-start;
    }
    .character-type {
        padding-right: 8rem;
    }
    .narration-buttons {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 650px) {
    .characters-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .narration-buttons {
        justify-content: flex-start;
    }
    .character-type {
        margin-bottom: 2rem;
    }
    .short-page-container {
        padding: 3rem;
        margin: 1rem 2rem;
        background-color: rgba(34, 34, 34, 0.7);
        border-radius: 3rem;
        height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}