.characters-container{
    display: flex;
    justify-content: space-between;
}

.character-type {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
}

label{
    font-family: URW Chancery L, cursive;
    font-size: large;
    color: white;
}

.narration-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    margin-right: 0.5rem;
}

@media only screen and (min-width: 900px) {
    .characters-container {
        justify-content: flex-start;
    }
    .character-type {
        padding-right: 8rem;
    }
    .narration-buttons {
        justify-content: flex-start;
    }
  }