td, th {
    text-align: center;
    padding-right: 3rem;
}

p {
    margin: 0rem 0rem 1rem 0rem;
}

h5 {
    margin: 0;
}

.bottom {
    margin-bottom: 1.5rem;
}

.text-left {
    text-align: left;
}

.photo {
    margin: 0rem 1.5rem 1.5rem 0rem;
}

.charts {
    overflow-y: hidden;
    overflow-x: auto;
}

.tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 8rem;
    background-color: rgb(24, 24, 24);
    color: #fff;
    font-size: small;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.75rem;
  
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }