<div class="page-container">
  <div class="section">
    <h4>Objective of The Game</h4>
    <p>
      Avalon is a game of deception and logical deductions, where players go on Quests to figure out each other’s
      loyalty.
      Players are either loyal servants of Arthur fighting for the Good or minions of Mordred supporting the Evil.
      Each character possesses a unique advantage to make the game more interesting. For example, Merlin knows all
      minions of Mordred.
      To find out more about each character, click on the Characters tab.
    </p>
    <table>
      <tr>
        <th class="text-left">How Evil Wins</th>
        <th class="text-left">How Good Wins</th>
      </tr>
      <tr>
        <td class="text-left"> 3/5 quests fail</td>
        <td class="text-left">3/5 quests pass</td>
      </tr>
      <tr>
        <td class="text-left">Guess who Merlin is correctly if Good wins</td>
        <td></td>
      </tr>
      <tr>
        <td class="text-left">Quests are disapproved 5 times</td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="section">
    <h4>Walkthrough Of The Game</h4>
    <h5>Setup:</h5>
    <p>Each player is dealt a character card, which may not be revealed till the end of the game.
      Someone will read out a script so the correct information about each player is known.
      For example: Everybody close your eyes. Minions of Mordred stick out your thumb, Merlin open your eyes to see the Evil players.
      If you go to the Narration tab, it will read the script for you.
    </p>

    <h5>At the beginning of each round: </h5>
    <p>
      The quest giver will propose a team to go on a quest.
      Players are allowed to discuss at anytime who they want/ don’t want on a quest.
      After the quest giver chooses their desired team, everyone will then either approve or disapprove of the selected
      team.
      If majority disapproves the quest, then the person to the quest giver's left will become the new quest giver.
      Keep in mind that if players disapprove the suggested team 5 times in a row, then Evil automatically wins the game.
    </p>

    <img class="photo" src="../../../assets/images/approve.png">
    <img class="photo" src="../../../assets/images/disapprove.png">

    <h5>Going on the Quest:</h5>
    <p>
      If majority(a tie doesn’t count as majority) approves the quest giver’s team, then the selected players will go on
      the quest.
      They will each be handed a success and a fail card. If you are a good character, then you can only play the success card. But as an evil
      character, you can put either card down.
      The cards will then be shuffled and if all of them are success, the quest passes (Good wins this round).
      If there is one or more fail cards, then the quest fails (Evil wins this round).
    </p>

    <img class="photo" src="../../../assets/images/success.png">
    <img class="photo" src="../../../assets/images/fail.png">

    <h5>At the end of the game: </h5>
    <p>
      If Good wins 3/5 quests, evil has a chance to win the game if they can guess who Merlin is.
    </p>
    </div>
    
    <div class="charts">
      <h4>Important Charts</h4>
      <h5>Number of Good/Evil Characters</h5>
      <table class="bottom">
        <tr>
          <th>Players</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
        </tr>
        <tr>
          <td>Good</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Evil</td>
          <td>2</td>
          <td>2</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </table>
    
      <h5>Number of Good/Evil Characters</h5>
      <table>
        <tr>
          <th>Players</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
        </tr>
        <tr>
          <td>Q1</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Q2</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Q3</td>
          <td>2</td>
          <td>4</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Q4</td>
          <td>3</td>
          <td>3</td>
          <td class="tooltip">(4)<span class="tooltiptext">Requires 2 fail cards for this quest to fail</span></td>
          <td class="tooltip">(5)<span class="tooltiptext">Requires 2 fail cards for this quest to fail</span></td>
          <td class="tooltip">(5)<span class="tooltiptext">Requires 2 fail cards for this quest to fail</span></td>
          <td class="tooltip">(5)<span class="tooltiptext">Requires 2 fail cards for this quest to fail</span></td>
        </tr>
        <tr>
          <td>Q5</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
      </table>
    </div>
</div>