td, th {
    text-align: center;
    padding-right: 3rem;
}

p {
    margin: 0rem 0rem 1rem 0rem;
}

h5 {
    margin: 0;
}

.bottom {
    margin-bottom: 1.5rem;
}

.text-left {
    text-align: left;
}

.photo {
    margin: 0rem 1.5rem 1.5rem 0rem;
}

.charts {
    overflow-x: auto;
}

.info {
    white-space: nowrap;
    color: rgb(187, 187, 187);
}