/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

a:hover {
    color: rgb(102, 179, 241);
}

body {
    margin: 0rem;
    padding: 0rem;
    background-color: black;
    height: 100%;
}
